.center {
    text-align: center;
}
h1.shadow,h2.shadow,h3.shadow,h4.shadow,h5.shadow,h6.shadow {
    text-shadow: 2px 2px #114514;
}
.fn {
    top: -0.5em;
    font-size: 75%;
}
html {
    background-color: #eee;
}
blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    margin: 0.5rem 1rem;
    font-weight: 400;
    position: relative;
    padding: 1rem;
    border-left: 3px solid #ddd;
    background: #f8f8f8;
    border-radius: 10px;
}

table {
    background: #ffffff;
    text-align: center;
    border-radius: 20px;
}

blockquote:before {
    display: block;
    margin-bottom: 0.6rem;
}

blockquote:after {
    display: block;
    margin-bottom: 0.6rem;
    content: "by HelloWorldForGao";
    color: darkgrey;
}

blockquote.warn {
    border-color: #ff4136;
    color: #666;
}

blockquote.note {
    border-color: #5f9fd6;
    color: #666;
}

blockquote.warn:before {
    content: "警告：";
    color: #ff4136;
}

blockquote.note:before {
    content: "备注：";
    color: #5f9fd6;
}

hr {
    border: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 0.8em;
    height: 10px;
}

div.left {
    float: left;
    height: 2274.22px;
    width: 100px;
    background-color: #eee;
}

div.tleft {
    float: left;
    height: 2274.22px;
    width: 70px;
    background-color: #ddd;
    border-radius: 15px;
}

div.center {
    float: center;
    height: 2274.22px;
    width: auto;
}

div.footer {
    clear: both;
    background-color: #5f9fd6;
    text-align: center;
    border-radius: 15px;
}

li {
    margin-left: 15px;
}

a.fixed {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

a:link {
    color: #0000EE;
}
a:visited {
    color: #0000EE;
}

a.bhead:link {
    background-color: #00ff00;
    color: #ffffff;
    border-radius: 15px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding: 25px;
    text-decoration: none;
}

a.bhead:visited {
    background-color: #00ff00;
    color: #ffffff;
    border-radius: 15px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding: 25px;
    text-decoration: none;
}

a.bhead:hover {
    background-color: #00aa00;
    color: #ffffff;
    border-radius: 15px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding: 25px;
    text-decoration: none;
}

a.bhead:active {
    background-color: #007700;
    color: #ffffff;
    border-radius: 15px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding: 25px;
    text-decoration: none;
}

a.nounder {
    text-decoration: none;
}